<!DOCTYPE html>
<html>
	<head>
		<title>liquid.org</title>
		<link rel="stylesheet" href="/diary/resources/css/main.css" />
		<script src="/diary/resources/js/jquery-3.4.1.min.js"></script>
		<script src="/diary/resources/js/swgen.js"></script>
	</head>
	<body>
		<nav id='content'>
		</nav>
		<section class="main-article-area">
			<div id='main'>
				<h1 id="什么是-liquid">什么是 liquid?</h1>
<p>html 模板语言及编译器</p>
<h1 id="基本语法">基本语法</h1>
<p>分为三种：object, tags, filters</p>
<h2 id="object">object</h2>
<p>页面中显示的内容，用 <code>{{}}</code> 括起来，如 <code>{{ page.title }}</code></p>
<h3 id="问题"><span class="todo TODO">TODO</span> 问题</h3>
<p>如果知道当前有哪些可用的 object?</p>
<h2 id="tags">tags</h2>
<p>定义逻辑和控制流，用 <code>{% %}</code> 表示。并不产生任何的可见内容，用于实现逻辑，内容仍由 object 来提供。</p>
<pre><code>{% if user %}
  Hello {{ user.name }}!
{% endif %}
</code></pre>
<p>常用功能如: control flow, iteration, variable assignments</p>
<h3 id="comment">comment</h3>
<p>在 comment 和 uncomment 之间的内容将被忽略</p>
<h3 id="control-flow">control flow</h3>
<ul class="incremental">
<li>if, elsif, else, endif</li>
<li>unless, elsif, else, endunless</li>
<li>case, when..., endcase</li>
</ul>
<h3 id="iteration">iteration</h3>
<ul class="incremental">
<li><code>for x in array</code></li>
<li><code>break</code></li>
<li><code>continue</code></li>
<li><code>for x in array limit:2</code> , 表示只取前两个元素</li>
<li><code>for x in array offset:2</code> ，表示跳过前两个元素</li>
<li><code>for x in array reversed</code> ，表示反向</li>
<li>range，类似 shell, 用 <code>(3..5)</code> 来表示</li>
<li><code>{% cycle 'one', 'tow', 'three' %}</code> ，每次调用返回下一个值，用在 for 循环内</li>
<li>tablerow 用于生成表格，配合 limit, offset, range, cols 等参数</li>
</ul>
<h3 id="raw">raw</h3>
<p>raw 和 endraw 之间的内容被临时禁用 tag 处理</p>
<h3 id="variable-assignments">variable assignments</h3>
<ul class="incremental">
<li><code>{% assign tobi = &quot;Tobi %}</code></li>
<li><code>{% capture my_variable %}I am being captured.{% endcapture %}</code></li>
<li><code>{% increment my_counter %}</code> ，与 assign 命名的变量无关</li>
<li>decrement 同上</li>
</ul>
<h2 id="filters">filters</h2>
<p>对 object 的内容进行处理，用 <code>|</code> （管道）来表示，可连续多个</p>
<pre><code>{{ &quot;/my/fancy/url&quot; | append: &quot;.html&quot; }}
</code></pre>
<h3 id="举例">举例</h3>
<dl class="incremental">
<dt>compact</dt>
<dd>去除数组中的空元素
</dd>
<dt>date</dt>
<dd>时间 format
</dd>
<dt>default</dt>
<dd>提供默认值
</dd>
<dt>join</dt>
<dd>连接数组字符串
</dd>
<dt>map</dt>
<dd>同函数式
</dd>
<dt><code>newline_to_br</code></dt>
<dd>将 <code>\n</code> 转换为 <code>&lt;br&gt;</code>
</dd>
<dt>size</dt>
<dd>长度，字符串或数组
</dd>
<dt>slice</dt>
<dd>同 python array 分片
</dd>
<dt><code>strip_html</code></dt>
<dd>去除 HTML tags
</dd>
<dt><code>truncate</code></dt>
<dd>截断字符串，返回前 n 个
</dd>
<dt><code>url_encode</code> / <code>url_decode</code></dt>
<dd>编解码 url
</dd>
</dl>
<h1 id="操作符">操作符</h1>
<table>
<tbody>
<tr class="odd">
<td><code>==</code></td>
<td>equals</td>
</tr>
<tr class="even">
<td><code>!=</code></td>
<td>does not equal</td>
</tr>
<tr class="odd">
<td><code>&gt;</code></td>
<td>greater than</td>
</tr>
<tr class="even">
<td><code>&lt;</code></td>
<td>less than</td>
</tr>
<tr class="odd">
<td><code>&gt;=</code></td>
<td>greater than or equal to</td>
</tr>
<tr class="even">
<td><code>&lt;=</code></td>
<td>less than or equal to</td>
</tr>
<tr class="odd">
<td><code>or</code></td>
<td>logical or</td>
</tr>
<tr class="even">
<td><code>and</code></td>
<td>logical and</td>
</tr>
<tr class="odd">
<td><code>contains</code></td>
<td>字符串包含，或者数组包含字符串</td>
</tr>
</tbody>
</table>
<p>配合 tag 语法，如 <code>if .. endif</code> 等使用</p>
<h1 id="布尔值">布尔值</h1>
<p>除了 <code>nil</code> 和 <code>false</code> 外都为真</p>
<h1 id="类型"><span class="todo TODO">TODO</span> 类型</h1>
<p>有六种类型（五种？）</p>
<dl class="incremental">
<dt>String</dt>
<dd>
</dd>
<dt>Number</dt>
<dd>可心是浮点数或整数
</dd>
<dt>Boolean</dt>
<dd>字面量 true 或 false
</dd>
<dt>Nil</dt>
<dd>空，不存在之意
</dd>
<dt>Array</dt>
<dd>可存储任何变量
</dd>
</dl>
<p>可以通过 <code>assign</code> 或 <code>capture</code> tag 来初始化</p>
<h2 id="数组操作">数组操作</h2>
<table>
<tbody>
<tr class="odd">
<td>迭代</td>
<td><code>{% for user in site.users %}</code></td>
</tr>
<tr class="even">
<td>index</td>
<td><code>{{ site.users[0] }}</code></td>
</tr>
</tbody>
</table>
<p>可以对 string 使用 split filter 来生成子字符串数组</p>
<h1 id="变种">变种</h1>
<ul class="incremental">
<li>Liquid</li>
<li>Shopify Liquid</li>
<li>Jekyll Liquid</li>
</ul>
<h2 id="jekyll">Jekyll</h2>
<p>jekyll 是一个静态站点生成器，通过将内容与模型渲染生成最终网页。</p>
<p>Jekyll 使用 Liquid 作为其模板语言，添加了额外的 objects, tags 和 filters。如</p>
<ul class="incremental">
<li>objects representing content pages</li>
<li>tags for including snippets of content in others</li>
<li>filters for manipulating strings and URLs</li>
</ul>
<h1 id="whitespace-control">Whitespace control</h1>
<p>liquid 会在 HTML 渲染中加入空行，用 <code>{{-,-}}</code> 或 <code>{%- -%}</code> 来避免</p>

			</div>
		</section>
	</body>
</html>
