section.main-article-area {
    margin-left: 300px;
    max-width: 1024px;
    margin: 1em auto;
    margin-right: auto;
    box-shadow: 0 0 10px 3px gray;
    padding: .2em 2em;
    min-height: 100vh;
}    

nav#content {
    border-bottom: solid #ccc 1pt;
    padding-bottom: 0.4em;
    padding-top: 0.4em;
    display: flex;
    justify-content: space-between;    
}

h1 {
    font-size: 2rem;
    font-weight: bolder;
    border-bottom-color: brown;
    border-bottom-width: 2px;
    border-bottom-style: ridge;
}

h2 {
    font-size: 1.4rem;
}

.todo {
    color: red;
}

.done {
    color: #1e9223;
}


th {
    border-bottom: 2px solid black;
}

td, th {
    padding: .2em 1em;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: black;
}

table {
    border-style: hidden;
    border-collapse: collapse;
}

.aside {
    background-color: lightgray;
    border: 1px solid black;
    padding: 0 1em;
    border-radius: 1rem;
    margin-top: 1em;
    margin-bottom: 1em;
}

figcaption::before {
    content: "Figure. ";
}

figcaption {
    text-align: center;
    font-weight: 800;
    font-style: oblique;
}
