section.main-article-area {
	margin-left: 300px;
}

nav#content {
	min-height: 100%;
	/* background: gray; */
	display: block;
	position: fixed;
	width: 300px;
	top: 0;
	left: 0;
	bottom: 0;
	overflow-y: scroll;
	overflow-x: hidden;
}

nav#content ul {
	padding-left: 15px;
	margin-left: 5px
}

nav#content li {
	list-style-type: none;
}

nav#content li:has(> a) {
	list-style-type: circle;
	padding-left: 150px;
	margin-left: 5px;
}	

.li-focus {
	border: 2px solid red;
}

h1 {
    font-size: 2rem;
    font-weight: bolder;
    border-bottom-color: brown;
    border-bottom-width: 2px;
    border-bottom-style: ridge;
}

h2 {
    font-size: 1.4rem;
}

.todo {
    color: red;
}

.done {
    color: #1e9223;
}


th {
    border-bottom: 2px solid black;
}

td, th {
    padding: .2em 1em;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: black;
}

table {
    border-style: hidden;
    border-collapse: collapse;
}
